body{
    font-family: 'Tiro Kannada', serif;
}
.section{
    display: flex;
}
.half-width{
    width: 50%;
}
.half-width1{
    margin-top: 180px;
    padding-left: 100px;
}
.half-width p{
    margin-bottom: 50px;
}
.color{
    color: orangered;
}
h1{
    font-size: 55px;
    line-height: 60%;
}
.ordernow{
    text-decoration: none;
    background: linear-gradient(orange,orangered);
    font-size: 15px;
    padding: 15px 40px;
    border-radius: 100px;
    color:white;
}
.half-width2 img{
    max-width: 100%;
    height: 40%;
    padding-left: 250px;
    margin-top: 60px;
}
.section1{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    margin-top: 60px;
    background-size: 100%;
}
.aboutme{
    padding-top: 180px;
}
.contactme{
    text-decoration: none;
    background: linear-gradient(orange,orangered);
    font-size: 15px;
    padding: 15px 40px;
    border-radius: 100px;
    color:white;
}